body {
    background-color: #f1f5f9;
}

h2 {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 32px;
}

div {
    position: absolute;
    padding-top: 32px;
    position: static;
    width: 448px;
    height: 463.56px;
    margin: auto;
    margin-top: 8%;
}

.warn {
    padding-left: 4px;
    width: 350px;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    color: #ef4444;
    padding-top: 4px;
    margin-top: 8px;
    margin-bottom: 12px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 300;
}

input[type=file] {
    margin: 0;
    float: left;
    padding-left: 52px;
    width: 380px;
    margin-bottom: 16px;
}

input[type=text] {
    width: 350px;
    height: 42px;
    border: 2px solid;
    border-color: #eff3f4;
    border-radius: 6px;
    padding: 12px 12px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: medium;
}

input[name=bio] {
    width: 350px;
    height: 42px;
    border: 2px solid;
    border-color: #eff3f4;
    border-radius: 6px;
    padding: 12px 12px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: medium;
}

input[value] {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    color: #6b7280;
}

input[type=submit] {
    padding: 9px 17px;
    position: static;
    width: 350px;
    height: 42px;
    left: 40px;
    top: 389.56px;
    background: #2563eb;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 16px;
}

input[type=button] {
    padding: 9px 17px;
    position: static;
    width: 350px;
    height: 42px;
    left: 40px;
    top: 389.56px;
    background: #eff6ff;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #64748b;
    margin-bottom: 16px;
}

input[type=button]:hover {
    background: #bfdbfe;
}

input::placeholder {
    font-family: 'Inter';
    color: #94a3b8;
}

textarea::placeholder {
    font-family: 'Inter';
    color: #94a3b8;
}

a {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    color: #2563eb;
    text-decoration: none;
}

input[type=submit]:hover {
    background: #1e40af;
}

img {
    float: left;
    width: 72px;
    height: 72px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
}

p {
    width: 350px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    color: #64748b;
    padding-left: 4px;
}