        body {
            margin: 0;
        }
        
        .leftbox {
            float: left;
            background: white;
            width: 220px;
            height: 95%;
            border-right: 1px solid #eff3f4;
            padding: 16px;
            margin-left: 18%;
            font-family: Inter;
        }
        
        .middlebox {
            float: left;
            background: white;
            width: 600px;
            height: 95%;
            padding: 24px;
            font-family: Inter;
        }
        
        .mtopbar {
            align-content: center;
        }
        
        .warn {
            padding-left: 4px;
            width: 350px;
            text-align: left;
            font-size: 14px;
            font-weight: 300;
            color: #ef4444;
            padding-top: 4px;
            margin-top: 4px;
            margin-bottom: 8px;
        }
        
        .mtopbar p {
            float: left;
            margin-top: 0;
            padding-left: 2px;
            font-weight: bold;
            font-size: 20px;
            color: #0f172a;
            margin-bottom: 16px;
        }
        
        .feedspace {
            height: 650px;
            overflow: hidden;
        }
        
        .feedspace:hover {
            overflow-y: auto;
        }
        
         ::-webkit-scrollbar {
            width: 0;
        }
        
        .postbox form {
            text-align: right;
            margin: 0;
        }
        
        .postbox textarea {
            width: 100%;
            height: 90px;
            border: 2px solid;
            border-color: #eff3f4;
            border-radius: 8px;
            padding: 12px 12px;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: medium;
        }
        
        .postbox textarea::placeholder {
            color: #94a3b8;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: medium;
        }
        
        .postbox input[type=text] {
            float: left;
            height: 42px;
            width: 100%;
            padding: 12px 12px;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: medium;
            border: 2px solid;
            border-color: #eff3f4;
            border-radius: 6px;
            margin-bottom: 12px;
        }
        
        .postbox input[type=number] {
            float: left;
            height: 42px;
            width: 200px;
            padding: 12px 12px;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: medium;
            border: 2px solid;
            border-color: #eff3f4;
            border-radius: 6px;
            margin-bottom: 16px;
            margin-right: 12px;
        }
        
        .postbox input::placeholder {
            color: #94a3b8;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: medium;
        }
        
        .postbox input[type=submit] {
            float: right;
            padding: 9px 17px;
            width: 80px;
            height: 42px;
            left: 40px;
            top: 389.56px;
            background: #2563eb;
            border: 1px solid #D1D5DB;
            border-radius: 6px;
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: white;
            margin-bottom: 16px;
        }
        
        .postbox input[type=submit]:hover {
            background-color: #1e40af;
        }
        
        .postbox p[id=rate] {
            float: left;
            font-size: 14px;
            font-weight: 600;
            color: #94a3b8;
            padding-right: 12px;
        }
        
        hr {
            width: 100%;
            margin: 0;
            border-style: solid;
            color: #eff3f4;
            background-color: #eff3f4;
        }
        
        .rightbox {
            float: left;
            background: white;
            width: 280px;
            height: 95%;
            border-left: 1px solid #eff3f4;
            padding: 24px;
            font-family: Inter;
        }
        
        .logo img {
            width: 42px;
            height: 42px;
            border-radius: 50px;
            margin-top: 8px;
            margin-bottom: 28px;
            margin-left: 12px;
        }
        
        .topnav a {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            color: #0f172a;
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
            padding: 12px;
        }
        
        .topnav a img {
            height: 24px;
            width: 24px;
            padding-right: 8px;
        }
        
        .topnav a:hover {
            background-color: #eff3f4;
            border-radius: 8px;
        }
        
        .active {
            background-color: #c4d7fc;
            border-radius: 8px;
        }
        
        .bottomnav {
            position: absolute;
            bottom: 0;
            width: 220px;
            margin-bottom: 32px;
        }
        
        .bottomnav a {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            color: #0f172a;
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
            padding: 12px;
        }
        
        .bottomnav a img {
            height: 24px;
            width: 24px;
            padding-right: 8px;
        }
        
        .bottomnav a:hover {
            background-color: #eff3f4;
            border-radius: 8px;
        }
        
        .profile {
            background-color: #f8fafc;
            border-radius: 8px;
            padding: 16px 16px 24px 16px;
            width: 100%;
            margin-bottom: 16px;
            overflow: auto;
        }
        
        .profile p {
            float: left;
            margin: 0;
            font-weight: 600;
            font-size: 16px;
            color: #475569;
        }
        
        .profile a {
            float: right;
            margin: 0;
            font-weight: bold;
            font-size: 16px;
            text-decoration: none;
            color: #2563eb;
        }
        
        .profile img {
            height: 52px;
            width: 52px;
            border-radius: 30px;
            margin-top: 24px;
        }
        
        .profile h5 {
            margin: 0;
            font-size: 14px;
            font-weight: 300;
            margin-top: 4px;
            color: #475569;
        }
        
        .profile h6 {
            margin: 0;
            font-size: 18px;
            font-weight: 600;
            margin-top: 16px;
            color: #334155;
        }
        
        .profile p[id=profiled] {
            margin: 0;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            padding-top: 8px;
            color: #64748b;
            text-transform: uppercase;
            letter-spacing: 1;
        }
        
        .amount {
            background-color: #f8fafc;
            border-radius: 8px;
            padding: 16px 16px 16px 16px;
            width: 100%;
            margin-bottom: 16px;
            overflow: hidden;
        }
        
        .amount p {
            margin: 0;
            font-weight: 600;
            font-size: 16px;
            color: #475569;
        }
        
        .amount h6 {
            margin: 0;
            margin-top: 16px;
            font-weight: bold;
            font-size: 20px;
            color: #818cf8;
        }
        
        .amount h5 {
            margin: 0;
            padding-bottom: 12px;
            font-weight: 300;
            font-size: 14px;
            color: #94a3b8;
            padding-top: 4px;
        }
        
        .amount a {
            float: right;
            margin: 0;
            font-weight: bold;
            font-size: 16px;
            text-decoration: none;
            color: #2563eb;
        }
        
        .amount input[type=button] {
            margin-bottom: 12px;
            margin-right: 12px;
            margin-top: 20px;
            background: none;
            border: none;
            padding: 0;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 600;
            color: #2563eb;
            cursor: pointer;
            outline: inherit;
        }
        
        .stat {
            background-color: #f8fafc;
            border-radius: 8px;
            padding: 16px 16px 16px 16px;
            width: 100%;
            overflow: hidden;
        }
        
        .stat p {
            margin: 0;
            font-weight: 600;
            font-size: 16px;
            color: #475569;
        }
        
        .stat h5 {
            margin: 0;
            font-weight: 300;
            font-size: 14px;
            color: #94a3b8;
            padding-top: 4px;
            padding-bottom: 12px;
        }
        
        .stat h6 {
            margin: 0;
            font-weight: bold;
            font-size: 20px;
            color: #818cf8;
            margin-top: 16px;
            margin-bottom: 8px;
        }
        
        .stat input[type=button] {
            margin-bottom: 12px;
            margin-right: 12px;
            margin-top: 20px;
            background: none;
            border: none;
            padding: 0;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 600;
            color: #2563eb;
            cursor: pointer;
            outline: inherit;
        }
        
        .post {
            margin: 0;
            margin-top: 16px;
            margin-bottom: 12px;
            border-radius: 8px;
            padding: 16px;
            border: 1px solid #cbd5e1;
            overflow: hidden;
        }
        
        .post h7 {
            margin: 0;
            font-family: 'Inter';
            font-weight: 200;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1;
            display: block;
            color: #94a3b8;
        }
        
        .post h6 {
            margin: 0;
            padding-bottom: 4px;
            font-family: 'Inter';
            font-weight: 700;
            font-size: 16px;
            color: #334155;
        }
        
        .post h5 {
            margin: 0;
            font-family: 'Inter';
            font-weight: 300;
            font-size: 16px;
            color: #64748b;
        }
        
        .post h4 {
            margin: 0;
            font-family: 'Inter';
            font-weight: 700;
            font-size: 16px;
            color: #22c55e;
        }
        
        .post h3 {
            margin: 0;
            font-family: 'Inter';
            font-weight: 200;
            font-size: 14px;
            color: #94a3b8;
            padding-bottom: 6px;
        }
        
        .post a {
            margin: 0;
            display: block;
            float: left;
            font-weight: bold;
            font-size: 16px;
            text-decoration: none;
            padding-top: 8px;
            color: #2563eb;
        }
        
        .post a[id=delete] {
            margin: 0;
            display: block;
            float: right;
            font-weight: bold;
            font-size: 16px;
            text-decoration: none;
            padding-top: 8px;
            color: #ef4444;
        }
        
        .post hr {
            width: 100%;
            margin: 0;
            border-style: solid;
            color: #f9fafb;
            background-color: #f9fafb;
            margin-top: 8px;
            margin-bottom: 8px;
        }